#mostrartarefas,
tr {
    transition: opacity .5s ease-in-out
}

.header-container,
.user-name,
tr>td {
    letter-spacing: -2%
}

.btn,
.btnp,
.notification,
.side-nav__item,
.waves-effect {
    cursor: pointer
}

.notification,
.spending-box,
.waves-effect {
    position: relative
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --background-color: #f3f6fd;
    --text-color: #fff;
    --panel-color: #333;
    --hover-color: #3e3e3e;
    --button-radius: 15px;
    --message-radius: 10px;
    --transition-duration: 200ms;
    --scrollbar-width: 5px;
    --scrollbar-thumb-color: #444;
    --scrollbar-thumb-hover-color: #4b4b4b
}

.btnp,
canvas {
    border: none;
    outline: 0
}

body {
    background-color: var(--background-color);
}

body,
html {
    height: 100%
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 100vh
}

.icon {
    padding-right: 5px
}

canvas {
    color: #7c5cfc
}

.imgmsg {
    width: 250px
}

.btnp {
    width: auto;
    padding: 5px;
    height: 30px;
    background-color: #7c5cfc;
    color: #fff;
    margin: 5px;
    border-radius: 5px;
    transition: background-color .3s
}

.container {
    display: flex;
    height: 100%
}

.sidebarcss {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    border-right: 1px solid #f3f5f7;
    padding: 0 16px;
    overflow: auto
}

.sidebar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 56px -30px
}

.sidebar__logo-header {
    margin-left: 14px
}

.side-nav {
    display: flex;
    flex-direction: column
}

.side-nav__header {
    font-size: 14px;
    line-height: 21px;
    color: #90a3bf;
    padding-bottom: 10px;
    display: inline-block
}

.side-nav__header,
.side-nav__item>span {
    letter-spacing: -2%;
    font-weight: 500
}

#mostrartarefas {
    opacity: 0
}

.sidebarcss ul li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center
}

.waves-effect {
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out
}

.waves-light {
    background-color: #fff;
    color: #000
}

.side-nav__item {
    list-style: none;
    color: #596780;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 0 14px 16px;
    border-radius: 10px;
    transition: .4s;
    white-space: nowrap
}

.side-nav__item>svg {
    flex-shrink: 0
}

.side-nav__item.last-item {
    margin-bottom: 32px
}

.side-nav__item:not(:last-child) {
    margin-bottom: 4px
}

.btn-purple,
.collection .collection-item:hover,
.side-nav__item-active,
.side-nav__item:hover {
    background-color: #7c5cfc;
    color: #fff
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto
}

.top-container {
    border-bottom: 1px solid #f3f5f7;
    padding: 18px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.search,
.user-info,
.user-nav {
    display: flex;
    align-items: center
}

.search {
    padding: 11px 0 11px 24px;
    max-width: 492px;
    width: 100%;
    border: 1px solid #c3d4e9;
    border-radius: 70px;
    gap: 26px;
    background: #fff;
    opacity: .8
}

.search__input {
    border: none;
    outline: 0;
    width: calc(100% - 78px)
}

.notification,
.user-image {
    height: 44px;
    width: 44px
}

.header-container,
.notification {
    display: flex;
    align-items: center
}

.user-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 37px 0 12px
}

.notification {
    border: 1px solid #c3d4e9;
    background-color: transparent;
    margin-right: 32px;
    border-radius: 50%;
    padding: 10px;
    justify-content: center
}

.notification::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: -2px;
    right: 3px
}

.bottom-container {
    display: flex;
    gap: 24px;
    padding: 32px;
    background-color: #f3f5f7
}

.bottom-container__left {
    width: 70%
}

.bottom-container__right {
    width: 30%
}

.spending-statistics {
    max-height: 338px
}

.box {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    transition: opacity .5s ease-in-out;
    background-color: #fff;
    border-radius: 20px;
    padding: 0;
    margin: 0 auto;
    width: 100%
}

.contatos {
    margin: 0;
    float: left;
    width: 350px
}

.swal-modal-container,
.swal-modal-content {
    width: 100%!important;
    height: 100%!important
}

.roxo {
    background-color: #7c5cfc!important
}

.swal-modal-container {
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    margin: 0!important;
    padding: 0!important
}

.swal-modal-content {
    border-radius: 0!important;
    background-color: #fff!important;
    overflow-y: auto!important
}

.swal-modal-title {
    font-size: 24px!important;
    color: #333!important
}

.swal-modal-html-container {
    margin-top: 20px!important
}

.swal2-popup {
    border-radius: 20px!important
}

.notific {
    border: none;
    outline: 0;
    background-color: #7c5cfc!important;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    text-align: left
}

.close-button,
.my,
.mymsg {
    text-align: right;
    float: right
}

.close-button {
    background-color: #7b24c8;
    padding: 5px;
    font-size: 20pt
}

.my,
.mymsg {
    padding: 10px
}

.swal-modal-close-button {
    color: #999!important;
    font-size: 18px!important;
    margin-top: 10px!important
}

.mymsg {
    width: auto;
    border-radius: 7px!important;
    color: #fff;
    background-color: #7c5cfc!important;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: .2s
}

.mymsg:hover {
    background-color: #7c5cfca6!important;
    transition: .2s
}

.msgflex {
    flex-direction: column;
    float: right;
    width: auto;
    display: flex
}

.iconroxo {
    color: #7c5cfc!important
}

.message-text {
    border-radius: 20px
}

#message-input {
    width: 80%;
    padding: 10px;
    border: none!important;
    font-size: 12pt;
    outline: 0!important
}

.collection {
    border: none!important;
    border-bottom: none!important
}

.collection-item {
    border: 0!important;
    border-radius: 10px;
    cursor: pointer;
    height: 20px!important;
    margin: 5px!important;
    border-bottom: none!important;
    transition: .3s
}

.collection-item:hover {
    transition: .3s;
    color: #7b2cbf
}

.bar-chart {
    max-height: 223px;
    width: 100%;
    display: flex;
    justify-content: center
}

.header-container {
    color: #1a202c;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 600
}

.date-selector,
.year-selector {
    align-items: center;
    display: flex
}

.section-header {
    line-height: 24px;
    font-size: 16px
}

.header-container span {
    line-height: 21px;
    font-size: 14px
}

.year-selector {
    gap: 24px
}

.flex,
.total-box {
    display: flex
}

.total-box__left {
    border-right: 1px solid #f0f0f0;
    flex: 1
}

.total-box__right {
    flex: 1
}

.total-box__left,
.up-arrow {
    margin-right: 24px
}

.price {
    line-height: 150%;
    margin-bottom: 14px
}

.price-currency {
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    color: #90a3bf;
    margin-left: 8px
}

.box p,
.total-box p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -.02em
}

.percentage-increase {
    color: #7fb519
}

.percentage-decrease {
    color: #ff4423
}

.date-selector {
    padding: 10px 16px;
    justify-content: center;
    border: 1px solid #c3d4e9;
    border-radius: 6px
}

.date-selector span {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px
}

.transaction-box {
    border-radius: 20px;
    margin-bottom: 0
}

.transaction-history {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin-top: 24px
}

tr>th {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #90a3bf;
    padding-bottom: 24px
}

.label,
tr>td {
    font-weight: 600
}

tr>td {
    font-size: 14px;
    padding: 8px 0
}

tr>td:first-child {
    display: flex;
    align-items: center;
    gap: 9px
}

.status {
    margin-right: 8px
}

.button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 56px
}

.btn {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: none;
    border-radius: 10px
}

.btn-white {
    background-color: #fff;
    color: #000;
    border: 2px solid #7c5cfc
}

.pie-chart {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.overall-spending {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 32%;
    left: 50%;
    text-align: center
}

.overall-spending>h4 {
    color: #596780;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%
}

.infor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

.overall-spending>span {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%
}

.pie-chart__labels {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 40px
}

.pie-chart__labels-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%
}

.label,
.pie-chart__labels-item {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.label {
    gap: 12px;
    font-size: 12px;
    line-height: 15px;
    color: #596780
}

.label__color {
    width: 12px;
    height: 12px;
    border-radius: 50%
}

.btnexluir,
.btnrealizada {
    border: none;
    width: 90px;
    height: 30px;
    outline: 0;
    color: #fff;
    margin: 5px;
    transition: background-color .3s;
    cursor: pointer
}

.first {
    background: #eb7ca6
}

.second {
    background: #ffacc8
}

.third {
    background: #cc6ff8
}

.fourth {
    background: #7c5cfc
}

.fifth {
    background: #5caffc
}

.sixth {
    background: #a1a9fe
}

.btnexluir {
    background-color: #e74c3c;
    border-radius: 5px
}

.btnexluir:hover {
    background-color: #c0392b
}

.btnrealizada {
    background-color: #27ae60;
    border-radius: 5px
}

.btnrealizada:hover {
    background-color: #219d54
}

.btnpendente {
    cursor: pointer;
    width: 90px;
    height: 30px;
    outline: 0;
    background-color: #3498db;
    border: none;
    color: #fff;
    margin: 5px;
    border-radius: 5px;
    transition: background-color .3s
}

.btnpendente:hover {
    background-color: #2980b9
}

.wrap {
    flex-wrap: wrap
}

.column {
    flex-direction: column
}

#chat-form {
    display: none;
    padding-right: 40px
}

.boxchat {
    padding-left: 20px;
    align-items: center;
    width: 600px;
    height: 600px
}

.full {
    width: 100%
}

#message-list {
    width: 100%;
    margin: 0 auto;
    height: 70vh;
    overflow-y: scroll
}

#message-list::-webkit-scrollbar {
    width: 5px
}

.chat-container {
    margin-right: 40px;
    width: 100%;
    flex: 1;
    padding: 16px
}

.message {
    margin-bottom: 8px
}

.message .content {
    background-color: #f1f1f1;
    padding: 8px;
    width: auto;
    border-radius: 4px
}

.message .sender {
    font-weight: 700
}

.message .time {
    font-size: .8rem;
    color: gray
}

.input-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 8px;
    background-color: transparent
}

.input-container input {
    flex: 1;
    margin-right: 8px
}

.collection .collection-item {
    margin: 0;
    padding: 10px;
    min-height: 54px!important;
    display: flex;
    align-items: center
}

@media (max-width:1300px) {
    table tr {
        margin-bottom: 10px
    }
    .bottom-container {
        flex-direction: column;
        height: auto
    }
    .bottom-container__left,
    .bottom-container__right,
    .boxchat {
        width: 100%
    }
    #chat-form {
        padding: 10px;
        margin: 0 auto
    }
    .btn {
        width: 45%
    }
    .sidebarcss {
        animation: anim 0.2;
        display: none
    }
    .contatos {
        width: 100%;
        margin: 0 auto
    }
    .collection .collection-item {
        margin: 0;
        padding: 10px;
        min-height: 54px!important;
        display: flex;
        align-items: center
    }
    .collection .collection-item:hover {
        background-color: #7c5cfc;
        color: #fff
    }
    .collection-item {
        padding: 5px
    }
    .collection .collection-item.avatar {
        min-height: 20px;
        height: 20px;
        padding: 5px
    }
}

@media(max-width:900px) {
    .top-container {
        gap: 24px
    }
    .total-box {
        flex-direction: column
    }
    .total-box__left {
        margin-right: 0;
        border-right: none;
        border-bottom: 1px solid #f3f5f7;
        padding-bottom: 24px;
        margin-bottom: 24px
    }
    .up-arrow {
        margin-right: 0
    }
}

#empresa {
    margin: 0;
    padding: 0;
    font-size: 13pt
}

@media(max-width:780px) {
    td::before,
    tr>th {
        position: absolute
    }
    .top-container {
        flex-direction: column;
        gap: 18px
    }
    .user-nav {
        justify-content: space-between
    }
    .section-header {
        font-size: 18px
    }
    table,
    tbody,
    td,
    th,
    tr {
        display: block
    }
    tr>th {
        top: -9999px;
        left: -9999px
    }
    tr {
        margin-bottom: 20px
    }
    td {
        margin: 5px;
        border: none;
        border-bottom: 1px solid #f3f5f7;
        position: relative;
        padding-left: 50%
    }
    td::before {
        left: 0
    }
    tr>td {
        text-align: end
    }
    tr>td:first-child {
        justify-content: end
    }
    .box p,
    .total-box p {
        font-size: 14px
    }
    .pie-chart__labels-item {
        font-size: 16px
    }
}

@media(max-width:600px) {
    .sidebarcss {
        display: none
    }
    .year-selector {
        gap: 12px
    }
    .button-box {
        flex-direction: column;
        gap: 20px;
        margin-top: 28px
    }
    .btn {
        width: 100%;
        font-size: 15px
    }
}

.form-container {
    width: 100vw;
    height: 100vh;
    background-color: #7b2cbf;
    display: flex;
    justify-content: center;
    align-items: center
}

.upload-files-container {
    background-color: #f7fff7;
    width: 420px;
    padding: 30px 60px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, .24) 0 10px 20px, rgba(0, 0, 0, .28) 0 6px 6px
}

.drag-file-area {
    border: 2px dashed #7b2cbf;
    border-radius: 40px;
    margin: 10px 0 15px;
    padding: 30px 50px;
    width: 350px;
    text-align: center
}

.drag-file-area .upload-icon {
    font-size: 50px
}

.drag-file-area h3 {
    font-size: 26px;
    margin: 15px 0
}

.drag-file-area label {
    font-size: 19px
}

.drag-file-area label .browse-files-text {
    color: #7b2cbf;
    font-weight: bolder;
    cursor: pointer
}

.browse-files span {
    position: relative;
    top: -25px
}

.default-fotoInput {
    opacity: 0
}

.cannot-upload-message {
    background-color: #ffc6c4;
    font-size: 17px;
    align-items: center;
    margin: 5px 0;
    padding: 5px 10px 5px 30px;
    border-radius: 5px;
    color: #b00;
    display: none;
    width: auto
}

.file-block,
.upload-button {
    color: #f7fff7;
    cursor: pointer
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.cannot-upload-message span,
.upload-button-icon {
    padding-right: 10px
}

.cannot-upload-message span:last-child {
    padding-left: 20px;
    cursor: pointer
}

.file-block {
    background-color: #7b2cbf;
    transition: 1s;
    width: 390px;
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 15px;
    padding: 10px 20px;
    border-radius: 25px
}

.file-info {
    display: flex;
    align-items: center;
    font-size: 15px
}

.file-icon {
    margin-right: 10px
}

.file-name,
.file-size {
    padding: 0 3px
}

.remove-file-icon {
    cursor: pointer
}

.progress-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.5%;
    width: 0;
    height: 5px;
    border-radius: 25px;
    background-color: #4bb543
}

.wrapper {
    padding: 40px;
    text-align: center;
}

.carousel img {
    width: 200px;
}

.wrapper h2 {
    padding-bottom: 20px;
}

.wrapper #fotoInput {
    display: none;
}

.wrapper label[for='fotoInput'] * {
    vertical-align: middle;
    cursor: pointer;
}

.wrapper label[for='fotoInput'] span {
    margin-left: 10px
}

.wrapper i.remove {
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}

.upload-button {
    font-family: Montserrat;
    background-color: #7b2cbf;
    display: flex;
    align-items: center;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 7.5px 50px
}

.icon {
    padding-right: 10px;
}

.animacao {
    animation: anim 2s;
}

@keyframes anim {
    0% {
        transition: 0.2;
        margin-left: 0px;
    }
    100% {
        transition: 0.2;
        margin-left: -300px;
    }
}

.box:hover {
    transition: opacity .5s ease-in-out !important;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.card {
    margin: 10px;
    align-items: center;
    padding: 10px;
    width: 200px;
    background-color: #dbf6fd;
    display: flex;
    flex-direction: row;
}

.txt {
    text-align: left;
}

#trfs {
    display: flex;
    flex-wrap: wrap;
}